.form-container {
  width: 100%;
  max-width: 1130px;
  height: 1200px;
  background-color: #ffffff;
  display: flex;
  form {
    padding: 101px 174px 0 203px;
    width: 100%;
    display: flex;
    flex-direction: column;
    hr {
      width: 166.17px;
      height: 9.29px;
      background: #071594;
      margin: 0 0 0 auto;
      border: none;
    }
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 165%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      letter-spacing: 0.15em;
      color: #000000;
      width: 100%;
    }
  }
}
